<!-- Timer Subscribe rxjs operator -->
<button class="btn btn-primary" (click)="timerOperatorMethod()">Timer Subscribe</button> &nbsp;&nbsp;
<!-- Timer UnSubscribe rxjs operator -->
<button class="btn btn-primary" (click)="timerOperatorMethodUnsubscribe()" [disabled]="timerUnsubscribe">Timer Unsubscribe</button>
&nbsp;&nbsp;

<!-- of rxjs operator -->
<button class="btn btn-primary" (click)="ofOperatorMethod()">Of Subscribe</button> &nbsp;&nbsp;

<!-- ajax rxjs operator -->
<button class="btn btn-primary" (click)="ajaxOperatorMethod()">Ajax Subscribe</button> &nbsp;&nbsp;

<!-- Map rxjs operator -->
<button class="btn btn-primary" (click)="mapOBJ()">Map Subscribe</button> &nbsp;&nbsp;

<!-- First & Last rxjs operator -->
<button class="btn btn-primary" (click)="firstLast()">First & Last Subscribe</button> &nbsp;&nbsp;

<!-- interval Subscribe rxjs operator -->
<button class="btn btn-primary" (click)="intervalSubscribe()">Interval Subscribe</button> &nbsp;&nbsp;
<!-- interval UnSubscribe rxjs operator -->
<button class="btn btn-primary" (click)="intervalUnSubscribe()" [disabled]="intervalUnsubscribe">Interval UnSubscribe</button> &nbsp;&nbsp;
<br>
<br>

<!-- Empty Subscribe rxjs operator -->
<button class="btn btn-primary" (click)="emptySubscribe()">Empty Subscribe</button> &nbsp;&nbsp;
<!-- Empty UnSubscribe rxjs operator -->
<button class="btn btn-primary" (click)="emptyUnSubscribe()" [disabled]="emptyUnsubscribe">Empty UnSubscribe</button> &nbsp;&nbsp;

<!-- of rxjs operator -->
<button class="btn btn-primary" (click)="of()">of Subscribe</button> &nbsp;&nbsp;

<!-- from rxjs operator -->
<button class="btn btn-primary" (click)="from()">from Subscribe</button> &nbsp;&nbsp;


<br>
<hr>
<ng-container *ngIf="user">
  <ng-container *ngFor="let users of user">
    {{users.login}}
    <br>
  </ng-container>
</ng-container>

<router-outlet></router-outlet>